            /* ------------------------------------------------ Font-Family -------------------------------------------------------------------*/
            
            @font-face {
                font-family: 'web';
                src: url('../fonts/fontawesome-webfont.eot');
                font-weight: normal;
                font-style: normal;
            }
            
            @font-face {
                font-family: 'krank';
                src: url('../fonts/Kranky-Regular.ttf');
                font-weight: normal;
                font-style: normal;
            }
            
            @font-face {
                font-family: 'sega';
                src: url('../fonts/04B_30__.ttf');
                font-weight: normal;
                font-style: normal;
            }
            
            @font-face {
                font-family: computer;
                src: url('../fonts/retro_computer.ttf');
                font-weight: normal;
                font-style: normal;
            }
            
             :root {
                font-size: 16px;
                font-family: 'Open Sans';
                --text-primary: #b6b6b6;
                --text-secondary: #ececec;
                --bg-primary: #23232e;
                --bg-secondary: #141418;
                --transition-speed: 600ms;
            }
            /* ---------------------------------------------  Body  ---------------------------------------------------------------------------*/
            
            html,
            body {
                height: 100%;
            }
            
            body {
                margin: 0;
                padding: 0;
                width: 100%;
                color: white;
                background-color: black;
                scroll-behavior: smooth;
            }
            
            body::-webkit-scrollbar {
                width: 0.25rem;
            }
            
            body::-webkit-scrollbar-track {
                background: #1e1e24;
            }
            
            body::-webkit-scrollbar-thumb {
                background: #202020;
            }
            /* ----------------------------------------------------  Main  -------------------------------------------------------------------*/
            
            main {
                height: 100%;
                width: 100%;
            }
            /* ----------------------------------------------  Top Bar  --------------------------------------------------------------------------*/
            
            .topBar {
                position: fixed;
                background-color: var(--bg-primary);
                padding: 0;
                margin: 0;
                height: 5rem;
                width: 100%;
                top: 0em;
                z-index: 10;
                overflow: hidden;
            }
            
            .topBar-nav {
                display: flex;
                flex-direction: row;
            }
            
            #textBar {
                text-align: center;
            }
            
            #reveal {
                display: none;
            }
            /* ---------------------------------------------------- Nav Bar  ----------------------------------------------------------------*/
            
            body::-webkit-scrollbar {
                width: 0.25rem;
            }
            
            body::-webkit-scrollbar-track {
                background: #1e1e24;
            }
            
            body::-webkit-scrollbar-thumb {
                background: #6649b8;
            }
            
            .navbar {
                position: fixed;
                background-color: var(--bg-primary);
                transition: width 600ms ease;
                overflow: hidden;
                z-index: 10;
            }
            
            .navbar-nav {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
            }
            
            .nav-item {
                width: 100%;
            }
            
            .nav-item:last-child {
                margin-top: auto;
            }
            
            .nav-link {
                display: flex;
                align-items: center;
                height: 5rem;
                color: var(--text-primary);
                text-decoration: none;
                filter: grayscale(100%) opacity(0.7);
                transition: var(--transition-speed);
            }
            
            .nav-link:hover {
                filter: grayscale(0%) opacity(1);
                background: var(--bg-secondary);
                color: var(--text-secondary);
            }
            
            .link-text {
                display: none;
                margin-left: 1rem;
            }
            
            .nav-link svg {
                width: 2rem;
                min-width: 2rem;
                margin: 0 1.5rem;
            }
            
            .fa-primary {
                color: #ff7eee;
            }
            
            .fa-secondary {
                color: #df49a6;
            }
            
            .fa-primary,
            .fa-secondary {
                transition: var(--transition-speed);
            }
            
            .logo {
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 1rem;
                text-align: center;
                color: var(--text-secondary);
                background: var(--bg-secondary);
                font-size: 1.5rem;
                letter-spacing: 0.3ch;
                width: 100%;
            }
            
            .logo svg {
                transform: rotate(0deg);
                transition: var(--transition-speed);
            }
            
            .logo-text {
                display: inline;
                position: absolute;
                left: -999px;
                transition: var(--transition-speed);
            }
            
            .navbar:hover .logo svg {
                transform: rotate(-180deg);
            }
            /* --------------------------------------------------  Header  --------------------------------------------------------------------*/
            
            header {
                margin: 0;
                padding: 0;
                background-color: black;
                position: relative;
                height: 60rem;
            }
            
            header #smoke {
                height: 100%;
                width: 100%;
            }
            
            #titre {
                margin: 0;
                padding: 0;
                position: absolute;
                top: 40%;
                left: 28%;
                transform: translateY(-50%);
                text-align: center;
                color: #ddd;
                font-size: 500%;
                font-family: sans-serif;
                /* letter-spacing: 3%;*/
                z-index: 9;
                width: auto;
            }
            
            #titre span {
                display: inline-block;
                animation: animate 5s linear forwards;
                font-family: 'krank';
            }
            
            @keyframes animate {
                0% {
                    opacity: 0;
                    transform: rotateY(90deg);
                    filter: blur(10px);
                    color: Black;
                }
                100% {
                    opacity: 1;
                    transform: rotateY(0deg);
                    filter: blur(0px);
                    color: whitesmoke;
                }
            }
            /*  -----------------------------------------------  Section  ------------------------------------------------------------------------- */
            
            section {
                padding-top: 5%;
                padding-left: 5rem;
            }
            /*  -----------------------------------------------  Info Portfolio  -----------------------------------------------------*/
            
            #infoPortfolio {
                padding: 10%;
            }
            
            #infoPortfolio h1 {
                padding-top: 3%;
                font-family: sega;
                text-align: center;
                text-decoration: underline overline;
                color: rgb(144, 62, 238);
            }
            
            #infoPortfolio p {
                font-family: computer;
                text-align: center;
                padding: 8%;
                padding-left: 10%;
                padding-right: 10%;
            }
            /*  ------------------------------------------------  Formations  ------------------------------------------------------  */
            
            #formations {
                padding-top: 3%;
                height: 600px;
                border-top: 10px groove rgb(14, 14, 59);
                background-color: rgb(11, 7, 27);
            }
            
            #formations h1 {
                text-align: center;
                text-decoration: underline;
            }
            
            #carrousel {
                display: flex;
                padding: 2%;
                scroll-snap-type: x mandatory;
            }
            
            .cercleAnime {
                position: relative;
                margin-top: -12px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: blue;
                display: none;
            }
            
            .diplome {
                background-color: rgb(43, 69, 70);
                margin: 5%;
                padding: 1%;
                border-radius: 5%;
                height: 200px;
                width: 25%;
                box-shadow: 2px 1px rgb(78, 77, 77), -1em 0 0.4em rgb(32, 29, 32);
            }
            
            .diplome:hover {
                margin: 2%;
                padding: 1%;
                width: 35%;
                height: 300px;
                border-radius: 2%;
            }
            
            .diplome:hover .cercleAnime {
                display: block;
                animation: mymove 3s linear infinite;
            }
            
            @keyframes mymove {
                0% {
                    background-color: red;
                    left: -25px;
                    top: -10px;
                }
                25% {
                    background-color: yellow;
                    left: 400px;
                    top: -10px;
                }
                50% {
                    background-color: blue;
                    left: 400px;
                    top: 315px;
                }
                75% {
                    background-color: green;
                    left: -25px;
                    top: 315px;
                }
                100% {
                    background-color: red;
                    left: -25px;
                    top: -10px;
                }
            }
            
            .diplome img {
                float: left;
                width: 30%;
                height: 99%;
                border-radius: 5%;
                border: 1px solid grey;
            }
            
            .diplome:hover img {
                height: 95%;
            }
            
            .diplome h1 {
                text-decoration: underline;
            }
            
            .diplome p {
                text-align: center;
            }
            /*  ------------------------------------------------  Parallax  --------------------------------------------------------  */
            
            .parallax {
                background-image: url(../img/fanart.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                height: 600px;
            }
            /* ---------------------------------------------------  Small screens  -------------------------------------------------------------- */
            
            @media only screen and (max-width: 600px) {
                .navbar {
                    bottom: 0;
                    width: 100vw;
                    height: 5rem;
                }
                .logo {
                    display: none;
                }
                .navbar-nav {
                    flex-direction: row;
                }
                .nav-link {
                    justify-content: center;
                }
                main {
                    margin: 0;
                }
                #titre {
                    font-size: 200%;
                    position: absolute;
                    top: 50%;
                    left: 20%;
                }
            }
            /* ---------------------------------------------  Middle screens  -------------------------------------------------------------------- */
            
            @media screen and (min-width: 600px) and (max-width: 1000px) {
                .navbar {
                    top: 0;
                    width: 5rem;
                    height: 100vh;
                }
                .navbar:hover {
                    width: 16rem;
                }
                .navbar:hover .link-text {
                    display: inline;
                }
                .navbar:hover .logo svg {
                    margin-left: 11rem;
                }
                .navbar:hover .logo-text {
                    left: 0px;
                }
                #titre {
                    position: absolute;
                    top: 50%;
                    left: 25%;
                    font-size: 400%;
                }
            }
            /* ---------------------------------------------  Large screens  -------------------------------------------------------------------- */
            
            @media only screen and (min-width: 1000px) {
                .navbar {
                    top: 0;
                    width: 5rem;
                    height: 100vh;
                }
                .navbar:hover {
                    width: 16rem;
                }
                .navbar:hover .link-text {
                    display: inline;
                }
                .navbar:hover .logo svg {
                    margin-left: 11rem;
                }
                .navbar:hover .logo-text {
                    left: 0px;
                }
            }
            
            .dark {
                --text-primary: #b6b6b6;
                --text-secondary: #ececec;
                --bg-primary: #23232e;
                --bg-secondary: #141418;
            }
            
            .light {
                --text-primary: #1f1f1f;
                --text-secondary: #000000;
                --bg-primary: #ffffff;
                --bg-secondary: #e4e4e4;
            }
            
            .solar {
                --text-primary: #576e75;
                --text-secondary: #35535c;
                --bg-primary: #fdf6e3;
                --bg-secondary: #f5e5b8;
            }
            
            .theme-icon {
                display: none;
            }
            
            .dark #darkIcon {
                display: block;
            }
            
            .light #lightIcon {
                display: block;
            }
            
            .solar #solarIcon {
                display: block;
            }